@import "../Variables.scss";

#searchTitle {
	background-color: $darkGrey;
	padding: 30px 0px;

	.titleText {
		font-size: 35px;
		color: #444;

		.query {
			color: $red;
			text-transform: capitalize;
		}
	}
}
